services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
  database:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: admin123
    volumes:
      - data-db:/var/lib/mysql/
volumes:
  data-db:
